<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Most Appearing Words</title>
        <script src='static/Chart.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    </head>

    <body>
        <center>
            <h2>Most Appearing Words</h2>
            <div style="width:700px;height=500px">
                <canvas id="chart"></canvas>
            </div>
        </center>
    </body>
    <!-- put it here -->
</html>